* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  }
  
  body {
      margin:0;
      padding:0;
      font-family: "Barlow", sans-serif;
  }
  
  h2 {
      font-weight: 600;
      letter-spacing: 0.1em;
  }
  
  .parent {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr repeat(2, 0.5fr) 3fr 0.5fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100vw;
      height: 100vh;
      border: 2px solid #333333;
      }
                    
      .trip-title { 
        grid-area: 1 / 1 / 2 / 2; 
        padding: 15px 15px 15px 0;
        border: inherit;
        display: flex;
      }

      .title-chevron {
          height: 100%;
          color: violet;
          flex:1;        
        }

      .title-chevron :hover {
        background: lavenderblush;
      }
      
      .timeline { 
          grid-area: 1 / 2 / 2 / 6; 
          border: inherit;
          text-align: center;
          display: flex; /* will align all children inside*/
          flex-wrap: wrap;
          overflow-x: scroll;
      }
  
      .timeline-day {
          flex-grow: 1;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          font-weight: 600;
          color: cornflowerblue;
      }
  
      .timeline-day:nth-child(odd) {
          background-color: lavenderblush;
      }
      
      .timeline-day .timeline-current-day {
        background-color: teal;
      }

      .timeline div:hover {
          background-color: lavender;
      }
  
      .date-control { 
          grid-area: 2 / 1 / 3 / 2; 
          display: flex;
          padding: 15px;
          text-align: center;
          border: inherit;
          vertical-align: middle;
          background: cornflowerblue;
      }

      .date-current {
        padding: 0;
        margin: 0;
        flex: 3;
        height: 100%;
      }

      .date-prevnext {
        flex: 1;
        height: 100%;
        align-items: center;
      }

      .date-chevron {
        color: violet;
      }

      .day-info { 
          padding: 15px;
          grid-area: 3 / 1 / 4 / 2; 
          border: inherit;
      }
      
      .blog-container { 
          grid-area: 4 / 1 / 5 / 2; 
          border: inherit;
          padding: 15px;
          overflow-y: auto;
        }

      .blog-footer { 
          padding: 15px;
          grid-area: 5 / 1 / 6 / 2; 
          border: inherit;
      }
  
      .map {
          grid-area: 2 / 2 / 6 / 6;
          z-index: 1;
          border: inherit;
      }
  
      .full-map {
        height: 100vh;
      }

  #map {
      height: 100%;
      width: 100%;
  }


  .add-assets {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    height: 60px;
    width: 60px;
    border: 3px solid #333333 ;
    border-radius: 25px;
    background: cornflowerblue;
    align-items: center;
    text-align: center;
    z-index: 9;
  }

  .add-assets :hover {
    color: lavender;
  }

  .leaflet-icon {
      box-shadow: white 5px;
      border: 2px solid white;
      border-radius: 5px;
  }

